@import "../../index.scss";

footer {
  position: relative;
  z-index: 4;
  border-top: 1px solid #ffffff3b;
  backdrop-filter: blur(60px);
  // background: $bg-color;
  h5 {
    font-family: $orbitron-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: $white-color;
    letter-spacing: 0%;
  }
  .f-wrapper {
    padding: 70px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 50px;
    align-items: stretch;
    .logo {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;

      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0%;
        color: $text-color;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        a {
          img {
            width: 99px;
          }
        }
        p {
          font-weight: 300;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0%;
          color: $text-color;
        }
      }
    }
    .news {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        font-weight: 400;
        font-size: 20px;
        line-height: 29.33px;
        letter-spacing: 0%;
        color: $white-color;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: $text-color;
      }
      form {
        display: flex;
        align-items: stretch;
        gap: 20px;
        input {
          // border: 1.33px solid #ffffff45;
          border: none;
          background: #ffffff0f;
          padding: 12px 20px;
          border-radius: 30px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          color: #ffffff54;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
        }
        input[type="button"] {
          background: #ffffff0f;
          backdrop-filter: blur(40px);
          flex: none;
          padding: 18px 50px;
          color: $white-color;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          a {
            font-weight: 300;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0%;
            color: $text-color;
          }
        }
      }
      .social {
        display: flex;
        margin-top: 20px;
        align-items: center;
        gap: 20px;
        .icon {
          width: 53px;
          height: 53px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #ffffff26;
          backdrop-filter: blur(40px);
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
  }

  .copy-right {
    border-top: 2px solid #ffffff26;
    padding: 20px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
      text-align: end;
      letter-spacing: 0%;
      color: $text-color;
    }
    .cotact {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      align-items: start;
      .con {
        svg {
          flex: none;
        }
        display: flex;
        align-items: center;
        gap: 10px;
        align-items: start;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0%;
        color: $text-color;
      }
    }
  }
}

@media (max-width: 1100px) {
  footer {
    .f-wrapper {
      gap: 30px;
      grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    }
    .copy-right {
      grid-template-columns: 2.5fr 1fr;
    }
  }
}
@media (max-width: 911px) {
  footer {
    .f-wrapper {
      padding: 50px 0;
      gap: 40px;
      grid-template-columns: 2fr 2fr;
    }
    .copy-right {
      justify-content: center;
      grid-template-columns: 1fr;
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 700px) {
  footer {
    .f-wrapper {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    .copy-right {
      p {
        text-align: center;
      }
      .cotact {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (max-width: 500px) {
  footer {
    .f-wrapper {
      .news {
        form {
          flex-direction: column;
          gap: 10px;
        }
      }
    }
    .copy-right {
      .cotact {
        grid-template-columns: 1fr;
      }
    }
  }
}
